---
layout: default
title: About
permalink: /about/
---
<!-- über das projekt -->
<div class="row">
    <section class="section first grey col-xs-24">
        <div class="content-wrap subpage">
            <h1 class="section-headline">Über das Projekt</h1>
            <h2 class="blue about-subline">Wie lassen sich offene Bildungsangebote mit digital gestützten Methoden gestalten? </h2>
            <div class="subpage-content">
                <p>Edulabs sind lokale Gruppen aus Menschen, die ihre didaktischen,
                    technischen und gestalterischen Fähigkeiten einsetzen, um zusammen
                    innovative und nachnutzbare Bildungsmaterialien zu entwickeln.

                    <!-- include floated image -->
                    {% include partials/content/content-float-image.liquid float="left" src="/assets/img/static/lab-1080x720-0.jpg" caption="Bild: Kallap85, Barbone Arduino Uno, CC-BY-SA-4.0" %}

                    Das Pilotprojekt ist am 1.3.2017 in den Regionen Berlin, Baden-Württemberg
                    und Nordrhein-Westfalen gestartet. Die Labs verstehen sich als regionale
                    Inkubatoren für Bildungsformate, in
                    die digitale Methoden auf neuartige Weise
                    eingebunden werden. In
                    drei Bundesländern organisiert
                    das Projekt
                    regelmäige Treffen von
                    interdisziplinären Teams,
                    in denen Materialien und
                    digital gestützte Methoden
                    erstellt, dokumentiert
                    und verbessert werden.

                    <!-- include an infobox -->
                    {% include partials/content/content-infobox.liquid float="right" headline="Title of info box" copy="Itaquatur, velitiu mquatectis ea quistius volupid eruptatatet haruptatiis apereca ercipictem quas dolorero beate aut doloribus rectem aut et accupidias ma dol. Itaquatur, velitiu mquatectis ea quistius volupid eruptatatet haruptatiis apereca ercipictem quas dolorero beate aut doloribus rectem aut et accupidias ma dol. " %}

                    In
                    drei Bundesländern organisiert
                    das Projekt
                    regelmäige Treffen von
                    interdisziplinären Teams,
                    in denen Materialien und
                    digital gestützte Methoden
                    erstellt, dokumentiert
                    und verbessert werden.
                    Die Lab-Projekte werden
                    didaktisch und technisch begleitet, sowie bei der Vernetzung
                    mit Bildungsträgern unterstützt.</p>
                <h3 class="subheading">Zwischenüberschrift</h3>
                <p>Edulabs sind lokale Gruppen aus Menschen, die ihre didaktischen,
                    technischen und gestalterischen Fähigkeiten einsetzen, um zusammen
                    innovative und nachnutzbare Bildungsmaterialien zu entwickeln.
                    Das Pilotprojekt ist am 1.3.2017 in den Regionen Berlin, Baden-Württemberg
                    und Nordrhein-Westfalen gestartet. Die Labs verstehen sich als regionale
                    Inkubatoren für Bildungsformate, in
                    die digitale Methoden auf neuartige Weise
                    eingebunden werden. In
                    drei Bundesländern organisiert
                    das Projekt
                    regelmäige Treffen von
                    interdisziplinären Teams,
                    in denen Materialien und
                    digital gestützte Methoden
                    erstellt, dokumentiert
                    und verbessert werden.
                    Die Lab-Projekte werden
                    didaktisch und technisch begleitet, sowie bei der Vernetzung
                    mit Bildungsträgern unterstützt.</p>
                <p class="link-list">
                    <span class="link-list-headline">Links</span>
                    <a class="external-link" href="http://rainbow-unicorn.com" target="_blank">Itaquatur, velitiu mquatectis ea quistius volupid eruptatatet haruptatiis</a>
                    <a class="external-link" href="http://rainbow-unicorn.com" target="_blank">Ercipictem quas dolorero beate aut doloribus rectem aut et accupidias</a>
                    <a class="external-link" href="http://rainbow-unicorn.com" target="_blank">Itaquatur, velitiu mquatectis ea quistius volupid eruptatatet</a>
                    <a class="external-link" href="http://rainbow-unicorn.com" target="_blank">Aut et accupidias ma dol</a>
                    <a class="external-link" href="http://rainbow-unicorn.com" target="_blank">Itaquatur, velitiu mquatectis ea quistius volupid eruptatatet</a>
                </p>
            </div>
        </div>
    </section>
    <!-- team -->
    <div class="row">
        <section class="section grey-light col-xs-24">
            <div class="content-wrap">
                <h2 class="section-headline">Team</h2>
            </div>
            <!-- member teasers -->
            {% include partials/member-teasers.liquid %}
        </section>
    </div>
    <!-- include mitmachen section -->
    {% include partials/sections/apply.liquid %}

</div>