---
layout: default
title: Aus dem Blog
permalink: /blog/
---
<!-- blog -->
<div class="row">
    <section class="section first grey-light col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Aus dem Blog</h2>
        </div>
        <!-- filters -->
        <div class="filter-items green">
            {% include partials/filters.liquid %}
        </div>
        <!-- blog teasers -->
        {% include partials/blog/blog-isotope.liquid %}
    </section>
</div>
<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}
