---
layout: default
---
<!-- hero -->
<div class="row">
    <section class="hero home col-xs-24">
        <div class="logo">
            <img src="{{ site.baseurl }}/assets/img/static/edulabs-logo.svg"/>
        </div>
    </section>
</div>
<!-- intro -->
<div class="row">
    <section class="section col-xs-24">
        <div class="content-wrap">
            <h1 class="regular">Offene Bildung mit digital gestützten Methoden</h1>
            <p>Wie lässt sich Lernen und Lehren offen gestalten? edulabs bringen Menschen zusammen, die neue, digitale Bildungsformate entwickeln und als OER teilen.</p>
        </div>
    </section>
</div>
<!-- labs -->
<div class="row">
    <section id="labs" class="section green col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline white">Labs</h2>
            <p>Itaquatur, velitiu mquatectis ea quistius volupid eruptatatet haruptatiis apereca ercipictem
                quas dolorero beate aut doloribus rectem aut et accupidias ma dolNusae nus exerrum
                necture ipsus am exeremquo veni non exped quod quos ut officid igendun tiatur, ullest,
                to eatiostrum fugiat que quis eatquam re et quiatusda.</p>
        </div>
        <!-- lab teasers -->
        {% include partials/lab-teasers.liquid %}
    </section>
</div>
<!-- blog -->
<div class="row">
    <section class="section col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Aus dem Blog</h2>
        </div>
        <!-- blog teasers -->
        {% include partials/blog/blog-isotope.liquid %}
        <div class="content-wrap btn-wrap">
            <a class="edu-btn black" href="/projects" target="_blank">Alle anzeigen</a>
        </div>
    </section>
</div>
<!-- projekte -->
<div class="row">
    <section class="section green col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Projekte</h2>
        </div>
        <div class="featured-projects-wrap col-xs-22 col-xs-push-1 col-md-20 col-md-push-2 col-lg-18 col-lg-push-3">
            {% include partials/project/project-teaser.liquid src="/assets/img/static/lab-1080x720-0.jpg" type="featured-home" headline="Projektbezeichnung 1" copy="Itaquatur, velitiu mquatectis ea quistius volupid eruptatatet haruptatiis apereca ercipictem quas dolorero beate aut doloribus rectem aut et accupidias ma dol" %}
            {% include partials/project/project-teaser.liquid src="/assets/img/static/lab-1080x720-0.jpg" type="featured-home" headline="Projektbezeichnung 1" copy="Itaquatur, velitiu mquatectis ea quistius volupid eruptatatet haruptatiis apereca ercipictem quas dolorero beate aut doloribus rectem aut et accupidias ma dol" %}
            {% include partials/project/project-teaser.liquid src="/assets/img/static/lab-1080x720-0.jpg" type="featured-home" headline="Projektbezeichnung 1" copy="Itaquatur, velitiu mquatectis ea quistius volupid eruptatatet haruptatiis apereca ercipictem quas dolorero beate aut doloribus rectem aut et accupidias ma dol" %}
            {% include partials/project/project-teaser.liquid src="/assets/img/static/lab-1080x720-0.jpg" type="featured-home" headline="Projektbezeichnung 1" copy="Itaquatur, velitiu mquatectis ea quistius volupid eruptatatet haruptatiis apereca ercipictem quas dolorero beate aut doloribus rectem aut et accupidias ma dol" %}
        </div>
        <div class="content-wrap btn-wrap">
            <a class="edu-btn black" href="/projects" target="_blank">Alle anzeigen</a>
            <a class="edu-btn black" href="/projects" target="_blank">Hackdash*</a>
        </div>
        <p class="hackdash-info col-xs-20 col-xs-push-2">*Itaquatur, velitiu mquatectis ea quistius volupid eruptatatet</p>
    </section>
</div>
<!-- über das projekt -->
<div class="row">
    <section class="section col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Über das Projekt</h2>
            <h3 class="blue about-subline">Wie lassen sich offene Bildungsangebote mit digital gestützten Methoden gestalten? </h3>
            <a href="/about">
                <p class="about-copy has-arrow">Edulabs sind lokale Gruppen aus Menschen, die ihre didaktischen, technischen und gestalterischen Fähigkeiten einsetzen, um zusammen innovative und nachnutzbare Bildungsmaterialien zu entwickeln. Das Pilotprojekt ist am 1.3.2017 in den Regionen Berlin</p>
            </a>
        </div>
    </section>
</div>
<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}



