<div class="teaser blog-teaser isotope-item {{ include.filter }} {{ include.type }} {% if include.type == "featured" %}col-xs-24 col-sm-12 col-md-16 col-lg-12 col-xlg-8 {% else %}col-xs-24 col-sm-12 col-md-8 col-lg-6 col-xlg-4{% endif %}">
    <a href="/post" class="teaser-inner">
        <div class="teaser-image">
            <img class="img-responsive" src="{{ site.baseurl }}{{ include.src }}"/>
        </div>
        <div class="teaser-content blog-teaser-content">
            <span class="teaser-date">25. Mai 2017</span>
            <h3 class="teaser-headline">{{ include.headline }}</h3>
            <p class="teaser-copy">{{ include.copy }}</p>
            <span class="teaser-cats">{{ include.category }}</span>
            <div class="teaser-arrow has-arrow"></div>
        </div>
    </a>
</div>