<div class="isotope-wrap col-xs-22 col-xs-push-1 no-padding">
    <div class="grid-sizer col-xs-24 col-sm-12 col-md-8 col-lg-6 col-xlg-4"></div>
    <h2 class="no-results hidden">Leider keine Ergebnisse.</h2>
    {% include partials/blog/blog-teaser.liquid filter="kategorie-1 kategorie-2" category="#Kategorie 1, Kategorie 2" src="/assets/img/static/lab-1080x720-0.jpg" type="featured" headline="Themen des nächsten edulabs calls: Calliope mini, das erste Lab-Treffen und Projekte, Projekte" copy="Am 10. und 11. Juni treffen sich Maker, Eltern, Kinder und andere Freund*innen von Hardware, DIY, Technik und Kreativität auf der Maker-Faire Berlin." %}
    {% include partials/blog/blog-teaser.liquid filter="kategorie-3 kategorie-4" category="#Kategorie 3, Kategorie 4" src="/assets/img/static/lab-1080x720-1.jpg" headline="Nächstes edulabs meetup: online (Mi 17.5., 17:00)"  %}
    {% include partials/blog/blog-teaser.liquid filter="kategorie-5 kategorie-6" category="#Kategorie 5, Kategorie 6" src="/assets/img/static/lab-1080x720-2.jpg" headline="Du hast Projektideen und möchtest lab-Vorhaben unterstützen?"  %}
    {% include partials/blog/blog-teaser.liquid filter="kategorie-7 kategorie-8" category="#Kategorie 7, Kategorie 8" src="/assets/img/static/lab-1080x720-3.jpg" headline="edulabs-Projekte suchen Unterstützung"  %}
    {% include partials/blog/blog-teaser.liquid filter="kategorie-9 kategorie-10" category="#Kategorie 9, Kategorie 10" src="/assets/img/static/lab-1080x720-1.jpg" headline="3. Mai 2017: Planungstreffen im Supermarkt Berlin"  %}
    {% include partials/blog/blog-teaser.liquid filter="kategorie-11 kategorie-12" category="#Kategorie 11, Kategorie 12" src="/assets/img/static/lab-1080x720-2.jpg" headline="Erste Projekte: zum edulabs-Planungstreffen und wie es weiter geht"  %}
    {% include partials/blog/blog-teaser.liquid filter="kategorie-13" category="#Kategorie 13" src="/assets/img/static/lab-1080x720-3.jpg" headline="edulabs-Projekte suchen Unterstützung"  %}
    {% include partials/blog/blog-teaser.liquid filter="kategorie-1 kategorie-2" category="#Kategorie 1, Kategorie 2" src="/assets/img/static/lab-1080x720-1.jpg" headline="Nächstes edulabs meetup: online (Mi 17.5., 17:00)"  %}
    {% include partials/blog/blog-teaser.liquid filter="kategorie-3 kategorie-4" category="#Kategorie 3, Kategorie 4" src="/assets/img/static/lab-1080x720-2.jpg" headline="Du hast Projektideen und möchtest lab-Vorhaben unterstützen?"  %}
    {% include partials/blog/blog-teaser.liquid filter="kategorie-5 kategorie-6" category="#Kategorie 5, Kategorie 6" src="/assets/img/static/lab-1080x720-3.jpg" headline="edulabs-Projekte suchen Unterstützung"  %}
    {% include partials/blog/blog-teaser.liquid filter="kategorie-7 kategorie-8" category="#Kategorie 7, Kategorie 8" src="/assets/img/static/lab-1080x720-1.jpg" headline="Nächstes edulabs meetup: online (Mi 17.5., 17:00)"  %}
    {% include partials/blog/blog-teaser.liquid filter="kategorie-9 kategorie-10" category="#Kategorie 9, Kategorie 10" src="/assets/img/static/lab-1080x720-2.jpg" headline="Du hast Projektideen und möchtest lab-Vorhaben unterstützen?"  %}
    {% include partials/blog/blog-teaser.liquid filter="kategorie-11 kategorie-12" category="#Kategorie 11, Kategorie 12" src="/assets/img/static/lab-1080x720-3.jpg" headline="edulabs-Projekte suchen Unterstützung"  %}
    {% include partials/blog/blog-teaser.liquid filter="kategorie-13" category="#Kategorie 13" src="/assets/img/static/lab-1080x720-1.jpg" headline="3. Mai 2017: Planungstreffen im Supermarkt Berlin"  %}
    {% include partials/blog/blog-teaser.liquid filter="kategorie-1 kategorie-2" category="#Kategorie 1, Kategorie 2" src="/assets/img/static/lab-1080x720-2.jpg" headline="Erste Projekte: zum edulabs-Planungstreffen und wie es weiter geht"  %}
    {% include partials/blog/blog-teaser.liquid filter="kategorie-3 kategorie-4" category="#Kategorie 3, Kategorie 4" src="/assets/img/static/lab-1080x720-3.jpg" headline="edulabs-Projekte suchen Unterstützung"  %}
    {% include partials/blog/blog-teaser.liquid filter="kategorie-5 kategorie-6" category="#Kategorie 5, Kategorie 6" src="/assets/img/static/lab-1080x720-1.jpg" headline="Nächstes edulabs meetup: online (Mi 17.5., 17:00)"  %}
    {% include partials/blog/blog-teaser.liquid filter="kategorie-7 kategorie-8" category="#Kategorie 7, Kategorie 8" src="/assets/img/static/lab-1080x720-2.jpg" headline="Du hast Projektideen und möchtest lab-Vorhaben unterstützen?"  %}
    {% include partials/blog/blog-teaser.liquid filter="kategorie-9 kategorie-10" category="#Kategorie 9, Kategorie 10" src="/assets/img/static/lab-1080x720-3.jpg" headline="edulabs-Projekte suchen Unterstützung"  %}
</div>