<header class="header">
    <div class="header-inner">
        <a class="signet" href="/">
                <img src="{{ site.baseurl }}/assets/img/static/edulabs-signet.svg"/>
        </a>
        <ul class="main-nav">
            <li class="current" ><a href="#labs">Labs</a></li>
            <li><a href="/projects">Projekte</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/sprint">Oer</a></li>
            <li><a href="/apply">Mitmachen</a></li>
            <li class="search mobile">
                <form action="" method="get">
                    <div class="form-group">
                        <input class="search-field mobile" type="text" name="search" placeholder="Suche...">
                    </div>
                </form>
                <div class="search-icon mobile">
                    <img src="{{ site.baseurl }}/assets/img/static/search-icon.svg"/>
                </div>
            </li>
        </ul>
        <div class="search desktop">
            <form action="" method="get">
                <div class="form-group">
                    <input class="search-field desktop" type="text" name="search" placeholder="Suche...">
                </div>
            </form>
        </div>
        <div class="search-icon desktop">
            <img src="{{ site.baseurl }}/assets/img/static/search-icon.svg"/>
        </div>
        <div class="nav-toggle"><span></span></div>
    </div>
</header>