<div class="edusprint-filters">
    <div class="row flex">
        <!-- Digitale Kompetenzen -->
        <div class="col-xs-24 col-md-12 edusprint-grey-light filter-items green">
            <h4 class="filter-items-headline">DIGITALE KOMPETENZEN:</h4>
            <div class="filter-items-inner">
                <div class="filter-item shrinked disabled">Interagieren</div>
                <div class="filter-item shrinked disabled">Teilen</div>
                <div class="filter-item shrinked disabled">Zusammenarbeiten</div>
                <div class="filter-item shrinked disabled">Zusammenarbeiten</div>
                <div class="filter-item shrinked disabled">Entwickeln und Produzieren</div>
                <div class="filter-item shrinked disabled">Weiterverarbeiten und Integrieren</div>
                <div class="filter-item shrinked disabled">Rechtliche Vorgaben beachten</div>
                <div class="filter-item shrinked disabled">Werkzeuge bedarfsgerecht einsetzen</div>
            </div>
        </div>
        <!-- Fächergruppen -->
        <div class="col-xs-24 col-md-12 edusprint-grey-light filter-items blue">
            <h4 class="filter-items-headline">FÄCHERGRUPPEN:</h4>
            <div class="filter-items-inner">
                <div class="filter-item shrinked disabled">Kulturelle Bildung</div>
                <div class="filter-item shrinked disabled">Geschichte & Gesellschaft</div>
                <div class="filter-item shrinked disabled">Mathe & Naturwissenschaften</div>
                <div class="filter-item shrinked disabled">Informatik & Technische Bildung</div>
            </div>
        </div>
    </div>
    <div class="row flex">
        <!-- Zielgruppe -->
        <div class="col-xs-24 col-md-12 edusprint-zielgruppe edusprint-grey filter-items">
            <h4 class="filter-items-headline">ZIELGRUPPE:</h4>
            <div class="icons-wrap">
                <a href="#" class="filter-icon disabled">
                    <div class="icon kita"></div>
                    <span>KITA/VORSCHULE</span>
                </a>
                <a href="#" class="filter-icon disabled">
                    <div class="icon grundstufe-1-3"></div>
                    <span>GRUNDSTUFE (1-3)</span>
                </a>
                <a href="#"  class="filter-icon disabled" >
                    <div class="icon grundstufe-4-6"></div>
                    <span>GRUNDSTUFE (4-6)</span>
                </a>
                <a href="#"  class="filter-icon disabled" >
                    <div class="icon sekundarstufe-1"></div>
                    <span>SEKUNDARSTUFE 1</span>
                </a>
                <a href="#"  class="filter-icon disabled" >
                    <div class="icon sekundarstufe-2"></div>
                    <span>SEKUNDARSTUFE 2</span>
                </a>
            </div>
        </div>
        <!-- Fach -->
        <div class="col-xs-24 col-md-12 edusprint-fach edusprint-blue-4 filter-items white">
            <h4 class="filter-items-headline">FACH:</h4>
            <div class="filter-items-inner">
                <div class="filter-item shrinked disabled">Deutsch</div>
                <div class="filter-item shrinked disabled">Chemie</div>
                <div class="filter-item shrinked disabled">Geschichte</div>
                <div class="filter-item shrinked disabled">Informatik</div>
                <div class="filter-item shrinked disabled">Kunst</div>
                <div class="filter-item shrinked disabled">Religion</div>
            </div>
        </div>
    </div>
    <div class="row flex">
        <!-- Zielgruppe -->
        <div class="col-xs-24 col-md-12 edusprint-zielgruppe edusprint-blue-2 filter-items">
            <h4 class="filter-items-headline">ZEITBEDARF DER MATERIALEINHEIT:</h4>
            <div class="icons-wrap">
                <a href="#" class="filter-icon disabled" data-filter=".unterrichtsreihe">
                    <div class="icon unterrichtsreihe"></div>
                    <span>UNTERRICHTSREIHE</span>
                </a>
                <a href="#" class="filter-icon disabled" data-filter=".doppelstunde">
                    <div class="icon doppelstunde"></div>
                    <span>DOPPERLSTUNDE</span>
                </a>
                <a href="#" class="filter-icon disabled" >
                    <div class="icon min45"></div>
                    <span>45 MINUTEN</span>
                </a>
                <a href="#" class="filter-icon disabled" >
                    <div class="icon min20"></div>
                    <span>ÜBUNG (BIS ZU 20 MIN)</span>
                </a>
                <a href="#" class="filter-icon disabled" >
                    <div class="icon flexibel"></div>
                    <span>FLEXIBEL</span>
                </a>
            </div>
        </div>
        <!-- Fächergruppen -->
        <div class="col-xs-24 col-md-12 edusprint-faechergruppen filter-items blue">
            <h4 class="filter-items-headline">NACH FÄCHERGRUPPEN:</h4>
            <div class="filter-items-inner">
                <a href="/" data-filter=".sprachen" class="filter-item shrinked">Sprachen</a>
                <a href="#" data-filter=".kulturelle-bildung" class="filter-item shrinked">Kulturelle Bildung</a>
                <a href="#" data-filter=".geschichte-gesellschaft" class="filter-item shrinked">Geschichte & Gesellschaft</a>
                <a href="#" data-filter=".mathe-naturwissenschaften" class="filter-item shrinked">Mathe & Naturwissenschaften</a>
                <a href="#" data-filter=".informatik-technische-bildung" class="filter-item shrinked">Informatik & Technische Bildung</a>
            </div>
        </div>
    </div>
</div>
