<div class="edusprint-filters">
    <div class="row flex">
        <!-- Zielgruppe -->
        <div class="col-xs-24 col-md-12 edusprint-zielgruppe edusprint-grey filter-items full">
            <h4 class="filter-items-headline">ZIELGRUPPE</h4>
            <div class="icons-wrap">
                <a href="#"  class="filter-icon" data-filter=".kita">
                    <div class="icon kita"></div>
                    <span>KITA/VORSCHULE</span>
                </a>
                <a href="#"  class="filter-icon" data-filter=".grundstufe-1-3">
                    <div class="icon grundstufe-1-3"></div>
                    <span>GRUNDSTUFE (1-3)</span>
                </a>
                <a href="#"  class="filter-icon" data-filter=".grundstufe-4-6" >
                    <div class="icon grundstufe-4-6"></div>
                    <span>GRUNDSTUFE (4-6)</span>
                </a>
                <a href="#"  class="filter-icon" data-filter=".sekundarstufe-1" >
                    <div class="icon sekundarstufe-1"></div>
                    <span>SEKUNDARSTUFE 1</span>
                </a>
                <a href="#"  class="filter-icon" data-filter=".sekundarstufe-2" >
                    <div class="icon sekundarstufe-2"></div>
                    <span>SEKUNDARSTUFE 2</span>
                </a>
            </div>
        </div>
        <!-- Fächergruppen -->
        <div class="col-xs-24 col-md-12 edusprint-faechergruppen  edusprint-grey-light filter-items full blue">
            <h4 class="filter-items-headline">NACH FÄCHERGRUPPEN:</h4>
            <div class="filter-items-inner">
                <a href="/" data-filter=".sprachen" class="filter-item shrinked">Sprachen</a>
                <a href="#" data-filter=".kulturelle-bildung" class="filter-item shrinked">Kulturelle Bildung</a>
                <a href="#" data-filter=".geschichte-gesellschaft" class="filter-item shrinked">Geschichte & Gesellschaft</a>
                <a href="#" data-filter=".mathe-naturwissenschaften" class="filter-item shrinked">Mathe & Naturwissenschaften</a>
                <a href="#" data-filter=".informatik-technische-bildung" class="filter-item shrinked">Informatik & Technische Bildung</a>
            </div>
        </div>
    </div>
    <div class="row flex more-filters">
        <div class="col-xs-24 col-md-12 no-padding filter-items-wrap">
            <!-- Medieneinsatz -->
            <div class="edusprint-medieneinsatz edusprint-blue-1 filter-items full flexed">
                <div class="filter-items-inner">
                    <h4 class="filter-items-headline">MEDIENEINSATZ</h4>
                    <div class="icons-wrap">
                        <a href="#" class="filter-icon" data-filter=".ohne-internetzugang">
                            <div class="icon ohne-internetzugang"></div>
                            <span>OHNE INTERNETZUGANG</span>
                        </a>
                        <a href="#" class="filter-icon" data-filter=".pc-laptop">
                            <div class="icon pc-laptop"></div>
                            <span>PC / LAPTOP</span>
                        </a>
                        <a href="#" class="filter-icon" data-filter=".tablet-smartphone" >
                            <div class="icon tablet-smartphone"></div>
                            <span>TABLET / SMARTPHONE</span>
                        </a>
                        <a href="#" class="filter-icon" data-filter=".hardware-basteln" >
                            <div class="icon hardware-basteln"></div>
                            <span>HARDWARE / BASTELN</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Dauer -->
            <div class="edusprint-dauer edusprint-blue-2 filter-items full flexed">
                <div class="filter-items-inner">
                    <h4 class="filter-items-headline">DAUER</h4>
                    <div class="icons-wrap">
                        <a href="#" class="filter-icon" data-filter=".unterrichtsreihe">
                            <div class="icon unterrichtsreihe"></div>
                            <span>UNTERRICHTSREIHE</span>
                        </a>
                        <a href="#" class="filter-icon" data-filter=".doppelstunde">
                            <div class="icon doppelstunde"></div>
                            <span>DOPPERLSTUNDE</span>
                        </a>
                        <a href="#" class="filter-icon" data-filter=".min45" >
                            <div class="icon min45"></div>
                            <span>45 MINUTEN</span>
                        </a>
                        <a href="#" class="filter-icon" data-filter=".min20" >
                            <div class="icon min20"></div>
                            <span>ÜBUNG (BIS ZU 20 MIN)</span>
                        </a>
                        <a href="#" class="filter-icon" data-filter=".flexibel" >
                            <div class="icon flexibel"></div>
                            <span>FLEXIBEL</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-24 col-md-12 no-padding filter-items-wrap filter-accordions-wrap">
            <!-- Fächer -->
            <div class="edusprint-faecher filter-items full white filter-accordion-wrap open">
                <a class="filter-toggle" href="#">
                    <span class="filter-items-headline has-arrow-left down">FÄCHER</span>
                </a>
                <div class="filter-items-inner filter-accordion">
                    <a href="#" data-filter=".deutsch" class="filter-item shrinked">Deutsch</a>
                    <a href="#" data-filter=".chemie" class="filter-item shrinked">Chemie</a>
                    <a href="#" data-filter=".englisch" class="filter-item shrinked">Englisch</a>
                    <a href="#" data-filter=".erdkunde-geografie" class="filter-item shrinked">Erdkunde/Geografie</a>
                    <a href="#" data-filter=".ethik" class="filter-item shrinked">Ethik</a>
                    <a href="#" data-filter=".franzoesisch" class="filter-item shrinked">Französisch</a>
                    <a href="#" data-filter=".geschichte" class="filter-item shrinked">Geschichte</a>
                    <a href="#" data-filter=".informatik" class="filter-item shrinked">Informatik</a>
                    <a href="#" data-filter=".kunst" class="filter-item shrinked">Kunst</a>
                    <a href="#" data-filter=".mathe" class="filter-item shrinked">Mathe</a>
                    <a href="#" data-filter=".musik" class="filter-item shrinked">Musik</a>
                    <a href="#" data-filter=".philosophie" class="filter-item shrinked">Philosophie</a>
                    <a href="#" data-filter=".physik" class="filter-item shrinked">Physik</a>
                    <a href="#" data-filter=".politik" class="filter-item shrinked">Politik</a>
                    <a href="#" data-filter=".religion" class="filter-item shrinked">Religion</a>
                    <a href="#" data-filter=".sachkunde" class="filter-item shrinked">Sachkunde</a>
                    <a href="#" data-filter=".sowi" class="filter-item shrinked">SoWi</a>
                    <a href="#" data-filter=".sport" class="filter-item shrinked">Sport</a>
                </div>
            </div>
            <!-- Tags -->
            <div class="edusprint-tags filter-items full white filter-accordion-wrap">
                <a class="filter-toggle" href="#">
                    <span class="filter-items-headline has-arrow-left down">TAGS</span>
                </a>
                <div class="filter-items-inner filter-accordion">
                    <a href="#" data-filter=".arduino" class="filter-item shrinked">Arduino</a>
                    <a href="#" data-filter=".calliope" class="filter-item shrinked">Calliope</a>
                    <a href="#" data-filter=".makeymakey" class="filter-item shrinked">MakeyMakey</a>
                    <a href="#" data-filter=".raspberry" class="filter-item shrinked">Raspberry</a>
                    <a href="#" data-filter=".scratch" class="filter-item shrinked">Scratch</a>
                    <a href="#" data-filter=".ios" class="filter-item shrinked">iOS</a>
                    <a href="#" data-filter=".android" class="filter-item shrinked">Android</a>
                    <a href="#" data-filter=".mac" class="filter-item shrinked">Mac</a>
                    <a href="#" data-filter=".pc" class="filter-item shrinked">PC</a>
                    <a href="#" data-filter=".linux" class="filter-item shrinked">Linux</a>
                    <a href="#" data-filter=".loeten" class="filter-item shrinked">Löten</a>
                    <a href="#" data-filter=".bauten" class="filter-item shrinked">Bauten</a>
                    <a href="#" data-filter=".basteln" class="filter-item shrinked">Basteln</a>
                    <a href="#" data-filter=".byod" class="filter-item shrinked">BYOD</a>
                    <a href="#" data-filter=".socialmedia" class="filter-item shrinked">Social Media</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-24">
            <a href="#" class="more-filters-btn">
                <span class="closed">MEHR ANZEIGEN</span>
                <span class="opened">WENIGER ANZEIGEN</span>
            </a>
        </div>
    </div>
</div>
