<div class="lab-teaser-wrap col-xs-22 col-xs-push-1 col-md-20 col-md-push-2 col-lg-18 col-lg-push-3">
    {% include partials/lab-teaser.liquid src="/assets/img/static/lab-1080x720-0.jpg" copy="Am 13.06. startet das edulab Berlin in den Räumen der Technischen Universität als Hackathon. Du möchtest Bildung aktiv mitgestalten? Dann bist du herzlich eingeladen!" %}
    {% include partials/lab-teaser.liquid src="/assets/img/static/lab-1080x720-1.jpg" copy="Am 13.06. startet das edulab Berlin in den Räumen der Technischen Universität als Hackathon." %}
    {% include partials/lab-teaser.liquid src="/assets/img/static/lab-1080x720-2.jpg" copy="Am 13.06. startet das edulab Berlin in den Räumen der Technischen Universität als Hackathon. Du möchtest Bildung aktiv mitgestalten?" %}
</div>