<div class="teaser member-teaser col-xs-24 col-md-8">
    <div class="teaser-inner">
        <div class="teaser-content">
            <div class="member-position">{{ include.position }}</div>
            <h3 class="member-headline">{{ include.name }}</h3>
        </div>
        <div class="teaser-image">
            <img class="img-responsive" src="{{ site.baseurl }}{{ include.src }}"/>
        </div>
        <div class="teaser-content member-teaser-content">
            <p class="teaser-copy">{{ include.copy }}</p>
        </div>
        <div class="teaser-buttons-wrap">
            {% if include.email %}<a class="edu-btn black" href="#" target="_blank" >Email</a>{% endif %}
            {% if include.twitter %}<a class="edu-btn black" href="#" target="_blank">Twitter</a>{% endif %}
            {% if include.github %}<a class="edu-btn black" href="#" target="_blank">Github</a>{% endif %}
            {% if include.website %}<a class="edu-btn black" href="#" target="_blank">Website</a>{% endif %}
        </div>

    </div>
</div>