/*********************
PAGE & SECTIONS
*********************/
.page-wrap {
  .heading {
    font-size: 1.85rem;
  }
  a, p,.subheading, .content-element .infobox-headline, .content-element .infobox-copy, ul li, ol li {
    font-size: 1.5rem;
  }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1 {
  font-size: 3.5rem;
}

h2, .h2 {
  font-size: 4.0rem;
}

h3, .h3 {
  font-size: 2.25rem;
}

h4, .h4 {
  font-size: 1.1rem;
}

h5, .h5 {
  font-size: 0.846rem;
}

.section-headline{
  font-size: 4.0rem;
}
.about-subline{
  font-size: 2.25rem;
}

.edu-btn {
  font-size: 1.85rem;
}

.teaser-buttons-wrap{
  .edu-btn {
    font-size: 1.6rem;
  }
}

/*********************
FOOTER STYLES
*********************/
.footer {
  .sponsors-nav{
    ul {
      li {
        margin-right: 80px;
        height: 80px;
      }
    }
  }

}
