/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html{
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
}

html, body{
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  height: 100%;
  font-family: $font-karla;
  font-size: 100%;
  line-height: 1.5;
  color: $text-color;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0px;

  overflow: hidden;

}

/*********************
LAYOUT & GRID STYLES
*********************/

/* see partials/_bootstrap-grid24.scss */

.section{

  position: relative;
  display: table;

  &.fullwidth{
    width:100%
  }
  &.fullheight{
    height: 100vh;
  }

  &.fullheight.fit-to-mobile{
    min-height: 100%;
    margin-bottom: 50px;
  }
}

/*********************
LINK STYLES
*********************/

a, a:visited {
  color: $link-color;
  text-decoration: none;

  /* on hover */
  &:hover, &:focus {
    color: $link-hover;
  }

  /* on click */
  &:active {
    color: $link-hover;
  }

  /* mobile tap color */
  &:link {
    /*
    this highlights links on iPhones/iPads.
    so it basically works like the :hover selector
    for mobile devices.
    */
    -webkit-tap-highlight-color : transparent;
  }
}

.has-arrow{
  &::after{
    margin-left: 5px;
    content:"\2192";
    display: inline-block;
    font-family: $font-worksans;
    line-height: 1;
  }

}

.link-list{
  color: $secondary-color;
  .link-list-headline{
    display: block;
    margin-bottom: 20px;
  }

  a, a:hover, a:focus, a:visited{
    background-color: transparent !important;
  }

}
.external-link{

  color: $secondary-color !important;
  display: block;

  &.fixed{
    &:hover{
      &::before{
        margin-left: 0px;
      }
    }
  }

  &::before{
    margin-right: 5px;
    content:"\2197";
    display: inline-block;
    font-family: $font-worksans;
    line-height: 1;
    @include transition(all .25s ease);
    transform: rotate(0deg);
    margin-left: 0;
  }

  &:hover{
    &::before{
      transform: rotate(45deg);
      margin-left: 23px;
    }
  }

}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  text-rendering: optimizelegibility;
  font-weight: 700;
  margin: 0 0 0.5em 0;
}

h1, .h1 {
  font-size: 2rem;
  line-height: 1.1em;
}

h2, .h2 {
  font-size: 2rem;
  line-height: 1.1em;
  margin-bottom: 0.375em;
}

h3, .h3 {
  font-size: 1.7rem;
  line-height: 1;
}

h4, .h4 {
  font-size: 1.1rem;
}

h5, .h5 {
  font-size: 0.846rem;
  line-height: 2.09em;
  letter-spacing: 2px;
}

.section-headline{
  font-size: 2rem;
  line-height: 1.1em;
  margin-bottom: 0.375em;
  text-align: center;
}

/*********************
WRAPPER STYLES
*********************/

.page-wrap{
  background-color: transparent;
  width: 100%;
  margin: 0 auto;
  height: 100%;

  min-height: 100%;
  /* equal to footer height */

  /*
  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }*/

  .heading{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 25px;
    word-break: break-all;
  }

  a, p, .subheading{
    font-size: 1.25rem;
  }

  p, .subheading{

    margin-bottom: 25px;

    &:last-of-type{
      margin-bottom: 0;
    }

  }

  ul{
    padding-left: 25px;

    li{
      &::before{
        margin-right: 5px;
        content:"\2022";
        display: inline-block;
        font-family: $font-worksans;
        font-size: 1.6em;
        line-height: 1;
        position: absolute;
        left: 0;
      }
    }


  }

  ol{
    padding-left: 25px;
    list-style-type: decimal;

    li{

      padding-left: 5px;
      &::before{
        content:"";
      }
    }



  }

  ul,ol{

    margin: 0;

    li{

      position: relative;

      margin-bottom: 25px;

      &:last-of-type{
        margin-bottom: 0;
      }

      font-size: 1.25rem;
    }
  }

  .page-description{

    padding: 20px 0;

    p{
      font-size: 1.5rem;

      &.more-btn{

        cursor: pointer;

        &:after{
          content: ' mehr...';
          color: $secondary-color;
          cursor: pointer;
        }
        &.gone{
          &:after{
            display: none;
          }
        }
      }

      &.less-btn{

        cursor: pointer;

        &:after{
          content: ' weniger...';
          color: $secondary-color;
          cursor: pointer;
        }
      }

    }

    .more-block{

      @include transition(max-height .25s ease-out);

      max-height: none;

      &.closed{
        max-height: 0;
        overflow: hidden;
      }
    }



  }

}

/********************
SEARCH STYLE
*********************/

#search-results {
    position: absolute;
    right: 0;
    z-index: 10;
    background: rgba(255,255,255,0.95);
    padding: 10px 40px;
    top: 50px;
    max-width: 800px;
    border: 1px solid rgba(0,0,0,0.1);

    h1 {
        font-size: 2em;
    }
}

/*********************
HEADER STYLES
*********************/

.header{

  position: absolute;
  width: 100%;
  background-color: $white;
  height: $header-height;
  z-index: 10;

  @include transition(transform .25s ease);

  &.fixed{
    position: fixed;
  }

  &.hardgone {
      display:none;
  }

  &.gone{
    transform: translateY(-100%);
  }

  .header-inner{

    margin: 0 auto;
    height: 100%;

    .search.mobile{
      position: relative;
      padding: 10px 20px 0 20px;
      display: inline-block;
      left:50%;
      transform: translateX(-50%);

      .search-icon{
        position: absolute;
        margin-top: 0;
        top: 9px;
        right: 0;
        margin-right: 20px;
        height: 40px;
      }

    }
    .search.desktop{
      display: none;
      width: 0;
      @include transition(width .25s ease);
      top: 5px;
      position: absolute;
      right: 60px;
      overflow: hidden;

      &.open{
        width: 300px;
      }

    }

    .search-field{
      width: 100%;
      height: 40px;
      background-color: $grey-light;
      border-width: 0;
      padding-left: 10px;
    }


    .signet{

      display: inline-block;
      position: relative;
      height: 100%;


      img{
        height: 100%;
        width: auto;
      }

    }

    .search-icon{
      display: inline-block;
      float: right;
      height: 44px;
      padding: 10px;
      margin-right: 42px;
      margin-top: 3px;
      cursor: pointer;

      img{
        height: 100%;
        width: auto;
      }
    }

    .search-icon.desktop{
      display: none;
    }

    ul.main-nav{

      display: block;
      background-color: $white;
      margin-top: -6px;
      font-size: 1.5rem;
      font-family: $font-mono;
      position: absolute;
      width: 100%;
      padding: 0;
      overflow: hidden;
      @include teaser-shadow();

      @include transition(max-height .25s ease, padding .25s ease);
      max-height: 0;

      &.open{
        max-height: 500px;
        padding: 20px 0;
      }

      li{
        display: block;
        margin-right: 0px;
        text-transform: uppercase;
        text-align: center;

        &:last-of-type{
          margin-right: 0;
        }

        &.current{
          a{
            color: $primary-color;
          }
        }

        a{

          @include transition(color .25s ease);

          :visited{
            color: $black;
          }

          &:hover, &:focus{
            color: $primary-color;
          }
        }

      }

    }

  }

}

/*********************
HERO
*********************/

body:not(.safari){
  .hero{
    &.home{
      background-attachment: fixed;
    }
  }
}

.hero{

  margin-top: $header-height;
  width: 100%;

  .logo{

    width: 60vw;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    @media only screen and (max-width: 640px) {
      transform: none;
      position: relative;
      left: 0;
      top: 40%;
      margin: auto;
    }

    img{
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &.home{
    height: 80vh;
    background: url($baseurl + '/assets/img/static/header-home.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    @media only screen and (max-width: 640px) {
      height: 300px;
    }
  }

  &.image{
    height: 80vh;
    background: url('') no-repeat;
    background-size: cover;
  }

}

/*********************
PAGE & SECTIONS
*********************/

.page-wrap{
  width: 100%;
}

.content-wrap{
  width: 85%;
  margin: 0 auto;

  &.btn-wrap{
    padding-top: 60px;
  }

}

.subpage-content, .teaser-content{
  text-align: left;

  a{
    @include transition(background-color .25s ease);
  }

  a, a:focus, a:visited{
    background-color: $link-background;
  }
  a:hover{
    background-color: $link-background-hover;
  }

}

.grid-sizer{
  position: absolute;
}
.isotope-wrap, .featured-projects-wrap{
  margin: 40px 0 20px 0;
  display: table;
}
.no-results{

  @include transition(transform .25s ease);
  &.hidden{
    transform: scale(0);
  }

  transform: scale(1);

  padding: 50px;
}

.section{
  width: 100%;
  text-align: center;
  padding: 30px 0;

  &.first{
    padding-top: 60px;
    margin-top: $header-height;
  }

  &.white{
    background-color: $white;
    color: $black;
  }

  &.green{
    background-color: $primary-color;
    color: $black;
  }

  &.grey-light{
    background-color: $grey-light;
    color: $black;
  }

  &.grey-light-2{
    background-color: $grey-light-2;
    color: $black;
  }


  &.grey{
    background-color: $grey;
    color: $black;
  }

  &.blue{
    background-color: $secondary-color;
    color: $white;
  }

}

/*********************
HOME
*********************/

.about-subline{
  padding: 20px 10px;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.7rem;
}
.about-copy{
  text-align: justify;
  cursor: pointer;
  position: relative;

  &.has-arrow{
    &:after{
      bottom: 5px;
      position: absolute;
      @include transition(transform .25s ease);
      transform: translateX(0%);
    }
  }

  &:hover{
    &.has-arrow{
      &:after{
        transform: translateX(50%);
      }
    }
  }

}

.hackdash-info{
  display: inline-block;
  font-size: 1rem !important;
  line-height: 1.25em;
  font-weight: 700;
}

/*********************
EDUSPRINT
*********************/

.edusprint{

  &.full{
    width: 100%;
  }

  .flex{
     flex-flow: column;
   }

  .edusprint-post-content{
    background-color: $edupsprint-grey-light;
  }
  .edupsprint-btn-wrap{
    padding: 40px 0;
    .public-domain{
      width: 150px;
      display: block;
      margin: 0 auto;
    }
  }

  .edusprint-filters{
    display: none;
  }

  .edusprint-authors-wrap{

    display: block;
    padding: 50px 0;

    .edusprint-author{

      @include teaser-shadow();
      background-color: white;
      margin-bottom: 20px;

      .edusprint-author-row{
        height: 100%;
        display: flex;
      }
      .author-image-wrap{
        background-color: $primary-color;
        padding-bottom: 33.33333333%;
        display: none;
        .author-smiley{
          position: absolute;
          top:50%;
          left:50%;
          transform: translate(-50%,-50%);
        }
      }
      .author-content-wrap{

        padding: 25px 0;

        .author-content-inner{
          text-align: left;
          display: inline-block;
          position: relative;
          top:50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  .subpage-content{
    padding-top: 80px;
    .excerpt{
      color: $secondary-color;
      text-align: center;
      font-weight: 700;
      margin-bottom: 50px;
    }
  }

  .more-filters{
    overflow: hidden;

    max-height: 0;
    @include transition(max-height .25s ease-in-out);

    &.open{
      max-height: 1000px;
    }

  }
  .more-filters-btn{
    display: block;
    background-color: $secondary-color;
    padding: 12.5px 0;

    span{
      color: white;
    }

    &:hover{
      span{
        color: white;
      }
    }

    &::before{
      margin-right: 15px;
    }
    &::after{
      margin-left: 15px;
    }

    &::before, &::after{
      display: inline-block;
      font-family: $font-worksans;
      line-height: 1;
      position: relative;
      top:2px;
      content:"\2193";
      color: white;
    }

    .opened{
      display: none;
    }

    &.open{

      .opened{
        display: inline-block;
      }
      .closed{
        display: none;
      }

      &::before, &::after{
        content:"\2191";
      }
    }

  }

  .filter-items-wrap{
    display: flex;
    flex-flow: column;
    .flexed{
      flex: 1 1 auto;
    }
  }
  .filter-items{
    padding: 15px;
    margin: 0 !important;

    .filter-items-headline{
      margin-bottom: 15px;
    }

    .icons-wrap{

      .filter-icon{
        display: inline-block;
        margin-right: 30px;
        margin-bottom: 15px ;

        &.disabled{
          pointer-events: none;
        }

        &.active{
          .icon{
            filter: brightness(0);
          }
          span{
            color: black;
          }
        }

        &:last-of-type{
          margin-right: 0;
        }

        .icon{
          display: inline-block;
        }
        span{
          display: block;
          color: $secondary-color;
          font-size: 0.8rem;
          font-weight: 700;
        }

      }
    }

  }

  .edusprint-medieneinsatz, .edusprint-zielgruppe, .edusprint-dauer, .edusprint-vorbereitungszeit{
    .filter-items-headline{
      color: $secondary-color;
    }
  }
  .edusprint-fach {
    .filter-items-headline{
      color: white;
    }
  }

  .edusprint-faecher, .edusprint-tags{
    padding: 0;
  }

  .edusprint-grey{
    background-color: $edupsprint-grey;
  }
  .edusprint-grey-light{
    background-color: $edupsprint-grey-light;
  }
  .edusprint-blue-1{
    background-color: $edupsprint-blue-1;
  }
  .edusprint-blue-2{
    background-color: $edupsprint-blue-2;
  }
  .edusprint-blue-3{
    background-color: $edupsprint-blue-3;
  }
  .edusprint-blue-4{
    background-color: $edupsprint-blue-4;
  }

  .filter-toggle{
    width: 100%;
    display: block;
    padding: 12.5px;

    span{
      color: white;
      font-size: 0.85em;
    }
  }

  .filter-accordions-wrap{

    .filter-accordion-wrap{

      background-color: $edupsprint-blue-4;
      @include transition(background-color .25s ease-in-out);

      .filter-items-headline{

        &::before{
          margin-right: 15px;
          display: inline-block;
          font-family: $font-worksans;
          line-height: 1;
          position: relative;
          top:2px;
          content:"\2193";
        }

      }

      &.open{

        flex: 1 1 auto;

        background-color: $edupsprint-blue-3;

        .filter-accordion{
          max-height: 500px;
          padding-bottom: 25px;

        }

        .filter-items-headline{
          &::before{
            content:"\2191";
          }
        }

      }

      .filter-accordion{
        margin: 0 25px;
        overflow: hidden;
        /* overflow: auto; /* might be needed later on, when we have more filters*/

        padding-bottom: 0px;

        max-height: 0;
        @include transition(all .25s ease-in-out);

        &::-webkit-scrollbar {
          width: 6px;
          background-color: $edupsprint-blue-3;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 0px;
          background-color: $edupsprint-blue-4;
          cursor: pointer;

          &:hover{
            background-color: darken($edupsprint-blue-4,5%);
          }

        }
        &::-webkit-scrollbar-track {
          border-radius: 0px;
          background-color: transparent;
        }

      }
    }
  }



}

/*********************
FOOTER STYLES
*********************/

.footer{

  /*height: $footer-height;*/
  position: relative;
  width: 100%;

  padding-bottom: 30px;

  ul.nav-footer{

    display: inline-block;
    margin: 0;
    padding: 0;

    font-size: 1.142rem;

    li{

      &.nav-footer-headline{
        font-family: $font-karla;
        font-weight: 700;
      }

    }
  }

  .social-nav{

    display: block;
    width: 100%;

    ul.icons-list {

      display: inline-block;

      li{

        float: left;
        display: block;

        .icon {
            font-size: 1.5rem;
            min-width: 0;
            border: none;
            padding: 10px 10px;
            text-align: center;

                &:hover{
                    color: $primary-color;
                }

            i {
                font-family: 'fontello';
                margin-right: 15px;
                font-style: normal;
                speak: none;

                display: inline-block;
                text-decoration: inherit;
                width: 1em;
                text-align: center;
                /* opacity: .8; */

                /* For safety - reset parent styles, that can break glyph codes*/
                font-variant: normal;
                text-transform: none;

                /* fix buttons height, for twitter bootstrap */
                line-height: 1em;

                /* Animation center compensation - margins should be symmetric */
                /* remove if not needed */
                margin: auto;

                /* You can be more comfortable with increased icons size */
                /* font-size: 120%; */

                /* Font smoothing. That was taken from TWBS */
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }

      }
    }
  }

  .sponsors-nav{

    margin: 30px 0 0 0;
    display: block;
    position: relative;
    width: 100%;

    ul {

      display: inline-block;
      float: left;
      margin: 0;

      li {

        display: inline-block;
        height: 60px;

        margin-bottom: 20px;
        &:last-of-type{
          margin-bottom: 0;
        }

        &.cc-info{
          text-align: center;
          position: relative;
          max-width: 300px;
          margin-left: 0px;
          margin-bottom: 50px;
        }

      }
    }
  }

  .foot-links{
    margin-top: 30px;
    position: relative;
    display: table;
    width: 100%;

    a{
      display: block;
      float: none;
    }

  }

}
